<div class="container">
  <!-- ANCHOR heading -->
  <section class="row mt-3">
    <div class="col-12">
      <h1>Car Listings</h1>
    </div>
  </section>

  <!-- ANCHOR form -->
  <section class="row my-3">
    <div class="col-12 col-md-8 m-auto">
      <div class="bg-light rounded shadow-lg p-4">

        <!-- NOTE onsubmit handler will fire off after a button has submitted the form -->
        <form onsubmit="app.CarsController.createCar()">

          <div class="mb-3">
            <!-- NOTE a label's for attribute should match the id of an input tag -->
            <label for="carMake">Make</label>
            <!-- NOTE name attribute is used to target the values stored within each input -->
            <!-- NOTE type attribute dictates the type of input you get -->
            <!-- NOTE required attribute validates that the user has filled out an input field before they can submit a form  -->
            <!-- NOTE minlength and maxlength will validate that the user inpuuted a string with the correct amount of characters -->
            <input id="carMake" name="make" type="text" required minlength="3" maxlength="15">
          </div>

          <div class="mb-3">
            <label for="carModel">Model</label>
            <input id="carModel" name="model" type="text" required minlength="1" maxlength="50">
          </div>

          <div class="mb-3">
            <label for="carYear">Year</label>
            <!-- NOTE min and max attributes validate the range of a number for an input with type number-->
            <input id="carYear" name="year" type="number" required min="1900" max="2025" value="2024">
          </div>

          <div class="mb-3">
            <label for="carPrice">Price</label>
            <input id="carPrice" name="price" type="number" required min="0" max="1000000">
          </div>

          <div class="mb-3">
            <label for="carMileage">Mileage</label>
            <input id="carMileage" name="mileage" type="number" required min="1" max="1000000">
          </div>

          <div class="mb-3">
            <label for="carImgUrl">ImgUrl</label>
            <!-- NOTE type url will validate that you are passing a url as a value -->
            <input id="carImgUrl" name="imgUrl" type="url" required maxlength="1000">
          </div>

          <div class="mb-3">
            <label for="carColor">Car Color</label>
            <!-- NOTE color picker that supplies values we can use with css -->
            <input type="color" name="color" id="carColor" value="#e66465" />
          </div>

          <div class="mb-3">
            <label for="carDescription">Description of Car</label>
            <!-- NOTE textarea is just a longer text input field -->
            <textarea id="carDescription" name="description" class="w-100" rows="10" maxlength="1000"></textarea>
          </div>

          <div class="mb-3">
            <label for="carSalvaged">Salvaged Title?</label>
            <!-- NOTE type checkbox is good for booleans -->
            <input type="checkbox" name="hasSalvagedTitle" id="carSalvaged" name="carSalvaged" />
          </div>


          <div class="text-end mb-3">
            <!-- NOTE important that we have a button with type of submit in order to trigger our onsubmit handler on the top of the form -->
            <button type="submit">Submit</button>
          </div>
        </form>

      </div>


    </div>
  </section>

  <!-- ANCHOR listings -->
  <section id="carListings" class="row">

    <!-- STUB car card template -->
    <!-- <div class="col-12">
      <div class="bg-light rounded shadow-lg d-flex">
        <img class="w-25 rounded-start"
          src="https://images.unsplash.com/photo-1625658281581-2da46feb5d1d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Picture of car">

        <div class="py-2 px-5">
          <h2>2000 Dodge Mustang</h2>
          <h2>$300000</h2>
          <h3>200000 Miles</h3>
          <h4>Listed on 12/12/2012</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis veritatis doloribus ea ipsa excepturi in
            dolor autem totam molestiae rem.</p>
          <div class="d-flex">
            <p>Car Color:</p>
            <div class="ms-4 car-color-circle"></div>
          </div>
          <div class="fs-1">
            <i class="mdi mdi-engine-off" title="This car has a salvaged title"></i>
            <i class="mdi mdi-engine" title="This car does not have a salvaged title"></i>
          </div>
        </div>
      </div>
    </div> -->
  </section>
</div>